.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 60% 15% 15%;
  width: 6rem;
  font-weight: bold;
  color: rgba(110, 63, 181, 255);
  align-self: flex-end;
}

.title {
  grid-column: 1/3;
  grid-row: 1;
}
.curr {
  grid-column: 1/3;
  grid-row: 2;
  font-size: 4.5rem;
}

.min {
  grid-column: 1;
  grid-row: 3;
}
.max {
  grid-column: 2;
  grid-row: 3;
}

.country {
  grid-column: 1/3;
  grid-row: 4;
}
