.container {
  width: 36rem;
  height: 45rem;
  margin: 6rem auto 0 auto;
  position: relative;
  border-radius: 1rem;
  background-color: rgba(200, 175, 233, 0.9);
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 25% 75%;
}

.tempContainer {
  grid-column: 1;
  grid-row: 1;
  display: flex;
}

.desContainer {
  grid-column: 2;
  grid-row: 1;
  display: flex;
}

.historyContainer {
  grid-column: 1/3;
  grid-row: 2;
  display: flex;
}

.image {
  position: absolute;
  top: -4rem;
  right: -5%;
}

@media (max-width: 800px) {
  .container {
    width: 80%;
  }
}
